
/* body * {
     border: 0.5px red dotted; 
}
 */
.border-solid {
    border: 2px #333 dashed;
}

body {
    height: 100dvh;
    max-width: 600px;
}


.categories {
    /* make the categories remain at the top when you overflow */
}



#deleteData_alert {
    position: absolute;
    background-color: rgb(244, 255, 251);
    bottom: 50%;
    
    width: 100%;
    max-width: 600px;
    
}

#areaWhereTheTextIsGonnaBeShown, 
#displayAllQuestions {
    height: 100%;
    overflow-y: auto;
}


#searchBar {
    width: 100%;
}

#displayAllQuestions {
    height: 100%;
}

.submitChangesAndCancelChanges {
    width: 100%;
    
}

body {
    height: 100dvh;
    max-width: 600px;

    display: flex;
    flex-direction: column;

    margin: 0;
}

header {
    height: 52px;
    flex-shrink: 0;
}

#areaWhereTheTextIsGonnaBeShown {
    flex: 1;
    overflow-y: auto;
}

footer {
    flex-shrink: 0;
}

.submitSection div {
    width: 100%;
}