/* body * {
    border: 0.5px red dotted;
}
*/

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    height: 100dvh;
    /* max-width: 600px; */
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 52px;
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
    margin: 8px;
}

.border-solid {
    border: 2px #333 dashed;
}

.category {
    /* Keep the categories at the top when overflowing */
    background-color: rgb(243, 243, 243);
}

#deleteData_alert {
    position: absolute;
    bottom: 50%;

    width: 100%;
    max-width: 600px;

    background-color: rgb(243, 243, 243);
}

#areaWhereTheTextIsGonnaBeShown,
#displayAllQuestions {
    height: 100%;
    overflow-y: auto;
}

#areaWhereTheTextIsGonnaBeShown {
    flex: 1;
}

#inputSearch,
.submitChangesAndCancelChanges,
.submitSection div {
    width: 100%;
}

.searchQuestion {
    display: block;
}



/* -------------------------- GRID VERSION FOR DESKTOP ------------------------- */



@media (max-width: 280px) {
    #addNewData_btn, #edit_btn, #categoriesSection, #explanation, #example {
        display: none;
    }
}

@media (max-width: 355px) {
      #categoriesSection {
        display: none;
    }
}

@media (min-width: 600px) {
    body {
        display: grid;

        grid-template-columns:  1fr 25%;
        grid-template-rows: auto auto 1fr auto;

        grid-template-areas:
            " styling header"
            " categories header"
            "  content header"
            " content footer";

        height: 100vh;
        max-width: none;

    }

    #header {
        grid-area: header;
        margin-left: 0;
    }

    #stylingButtonsSection {
        grid-area: styling;
        margin-top: 8px;
    }

    #categoriesSection {
        grid-area: categories;
        margin-top: 8px;
    }

    .content {
        grid-area: content;
        overflow-y: auto;
        margin-bottom: 20px;
    }

    footer {
        grid-area: footer;
    }
}


@media (min-width: 1150px) {
    body {
        display: grid;

        grid-template-columns: 25% 1fr 25%;
        grid-template-rows: auto auto 1fr;

        grid-template-areas:
            "header styling "
            "header categories "
            "header  content "
            "footer  content ";

        height: 100dvh;
        max-width: none;
    }

    #grid-left {
        grid-area: grid-left;

        display: flex;
        flex-direction: column;
    }

    #stylingButtonsSection {
        grid-area: styling;
    }

    #categoriesSection {
        grid-area: categories;
    }

    #areaWhereTheTextIsGonnaBeShown {
        grid-area: content;
        overflow-y: auto;
    }

    /* footer {
        display: none;
    } */
}