
* {
    border: 0.5px red dotted;
}

.border-solid {
    border: 1px grey dashed;
}

body {
    height: 100vh;
/*     width: 100dvw;
 */    max-width: 600px;
}

header { height: 52px;
}

#deleteData_alert {
    position: absolute;
    background-color: rgb(244, 255, 251);
    bottom: 50%;
    
    width: 100%;
    max-width: 600px;
    
}

/* #categories {
    position: absolute;
    width: 100%;
    background-color: aliceblue;
} */

#areaWhereTheTextIsGonnaBeShown {
    height: 85%;
    overflow-y: auto;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100dvw;
  max-width: 600px;
  background-color: white;
}

.showNextAndPreviousData_btn {
    width: 100%;
}

#searchBar {
    width: 100%;
}

#displayAllQuestions {
    height: 100%;
    width: 100%;
}

